/* ---- Background ---- */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to right bottom, 
        #f2f4f5, #eaeef1, #e3e8ed, #dbe2e9, 
        #d5dce5, #d0d9e6, #cbd6e7, #c7d3e8, 
        #c3d2ee, #bfd1f4, #bbcff9, #b7ceff
    );
    background-size: cover;
    backdrop-filter: blur(6px);
    animation: fadeIn 1s ease-in-out;
}

/* ---- Frosted Card ---- */
.container {
    width: 350px;
    padding: 30px;
    border-radius: 18px;
    background: rgba(120, 117, 117, 0.18);
    border: 1px solid rgba(156, 154, 154, 0.3);
    box-shadow: 0 8px 32px rgba(136, 135, 135, 0.2);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    text-align: center;
    animation: fadeUp 0.7s ease-out;
}

/* ---- Titles ---- */
h1{
    color: #070606;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 60px;
    text-shadow: 0 0 10px rgba(27, 25, 25, 0.6);
}

/* ---- Inputs ---- */
input {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid rgba(134, 95, 95, 0.4);
    background: rgba(255,255,255,0.2);
    color: #040303;
    font-size: 15px;
    font-style: bold;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #090d0e;
    box-shadow: 0 0 12px #bccfcf;
}

/* ---- Neon Button + Ripple ---- */
button {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 18px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #06e618;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 12px #09981f;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 22px #08b83a;
}

/* Ripple animation */
button {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  transform: scale(0);
  animation: rippleEffect 0.6s linear;
}

@keyframes rippleEffect {
  to {
    transform: scale(25);
    opacity: 0;
  }
}


/* ---- Result ---- */
#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(255,255,255,0.7);
}

/* ---- Animations ---- */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
